*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 40px;
}

.breadcrumb{
    margin-top: 30px;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: aquamarine;
}